# WordPress
*.log
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# WP-CLI
wp-cli.local.yml

# PHPStorm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Node
node_modules/
npm-debug.log*

# Composer
/vendor/
composer.lock

# Temporary files
*.tmp
*.temp
*.swp
*.swo
*~

# Build artifacts
/build/
/dist/
